---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <h1>Description</h1>
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <!--<h1 id="page-title" class="page__title"> {{page.title}} </h1>-->
    {% endunless %}
    <!--{{ content }}-->
  </div>
  <p> Hello, My name is Travis and I am about to graduate from the University of Colorado Boulder with a Master's of the Arts in Geography.
    Now that I am on the job market, I am creating this portfolio to help you see what I can do. This is a collection of maps, mostly, that
    I have made as a research assistant either here at CU or at Southern Illinois University where I used to work as a research assistant in 
    Agriculture department.</p>
</div>
