---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
  <h4>This is a collection of mostly maps that I have made as a research assistant over the past <br>
    several years. The work that I did at the University of Colorado Boulder was done as both a <br>
    research assistant and as a master's student in Geography. From 2014 to 2016 I worked as a <br>
    research assistant at Southern Illinois University in the Ag department studying crop yield<br>
    responses to cover crop, no-till, and a variety of other treatments.</h4>
</div>
