---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <h1>Description</h1>
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <!--<h1 id="page-title" class="page__title"> {{page.title}} </h1>-->
    {% endunless %}
    <!--{{ content }}-->
  </div>
  <p> For the last two years I have been working as a research assistant, teaching assistant, and student at the University of Colorado in
    Boulder. I am receiving a Master's in Geography focusing on climate risk management and weather-based index insurance for agriculture
    in particular. Prior to this position, I worked as a research assistant at Southern Illinois University in the Ag department where we 
    studied strategies to reduce fertilizer runoff. Along the way I have developed some skill at various mapping applications and data
    manipulation. So, to help you see what I can do, I have compiled a sample of research outputs here. This is a collection of graphics, maps mostly, that 
    I have developed for either research or class projects.</p>
</div>
